<div class="container">
  <div class="row">
    <h2><%= @article.title %></h2>
    <p><%= @article.content %></p>
  </div>

<div class="click">
  <p><%= link_to "Mettre à jour", edit_article_path %></p>
  <p><%= link_to "Back to the list", articles_path %></p>
</div>
</div>
